# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin/
obj/
# VS user preference configs, specific to your machine
*.suo
*.csproj.user
*.dll
*.pdb
# Test coverage files in the TestResults
*.coverage
# Nuget packages dir. 
packages/
*.ncrunchsolution
*.ncrunchsolution.user
*.ncrunchproject
[Tt]est[Rr]esult*
_NCrunch_MusicManager*/