<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages. 
        This configuration will keep at most 7 archive files,
        so logs older than one week will be automatically deleted-->
    <target name="localLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              name="logfile"
              fileName="${specialfolder:folder=CommonApplicationData}/Music Manager/logs/${processname}.log"
              layout="${longdate} ${level:uppercase=true} ${message}${onexception:inner=${newline}${exception:format=tostring}}"
              archiveFileName="${specialfolder:folder=CommonApplicationData}/Music Manager/logs/archives/${processname}.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="iso-8859-2"/>
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="AppLogger" minlevel="Info" writeTo="localLogFile" />
  </rules>
</nlog>